*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bulb-background1.jpg);
    background-size: cover;
}
.div-for-3{
    margin-top: 50px;
}
h4{
    color: white;
    line-height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
button{
    padding: 8px 10px 5px 10px;
    border: none;
    border-radius: 2px;
}
input{
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}